<mat-card *ngIf="poll !== undefined">
    <mat-card-title>Vote: {{poll.name}}</mat-card-title>
    <mat-card-subtitle>Type: {{poll.type}}</mat-card-subtitle>
    <mat-card-subtitle>Winners: {{poll.winners}}</mat-card-subtitle>

    <h3>Preference Level</h3>
    <p>Lower level numbers indicate higher preference</p>
    <p>Most --------> Least preferred</p>
    <mat-button-toggle-group
      [vertical]="false"
    >
      <mat-button-toggle
        *ngFor="let voteLevel of voteLevels; let i = index"
        [name]="i"
        [value]="i"
        [checked]="i === selectedVoteLevelIndex"
        (change)="onChangeVoteLevel(i)"
      >
        {{ i + 1 }}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <h3>Options</h3>
    <section
      class="vote-checkbox-section"
    >
      <mat-checkbox
        class="vote-checkbox"
        *ngFor="let option of poll.options"
        [checked]="isChecked(option, selectedVoteLevelIndex, voteLevels)"
        (change)="vote(selectedVoteLevelIndex, option)"
      >
        {{ option }}
      </mat-checkbox>
    </section>

    <h3>Ballot</h3>
    <div>
      <span
        *ngFor="let voteLevel of voteLevels; let i = index"
      >
        <span *ngIf="i > 0 && voteLevel.size > 0">
          >
        </span>
        <span
          *ngFor="let option of voteLevel; let i2 = index"
        >
          <span *ngIf="i2 > 0 && voteLevel.size > 1">=</span>
          {{option}}
        </span>
      </span>
    </div>

    <h3 *ngIf="hasVoted && submittedVote">
      {{ submittedVote.id }}
    </h3>
    <mat-card-actions>
      <button
        mat-stroked-button
        color="primary"
        (click)="submitVote(voteLevels)"
        [disabled]="hasVoted || poll.locked"
      >
        Vote
      </button>
    </mat-card-actions>
</mat-card>

