.poll-panel-header .mat-expansion-panel-header-title,
.poll-panel-header .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.poll-panel-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.select-poll-checkbox {
  margin-right: 15px;
}
