<div>
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-stroked-button
        (click)="refreshData()"
      >
        Refresh
      </button>
      <button
        mat-icon-button
        (click)="addPoll()"
      >
        <mat-icon aria-label="Add poll">add_circle_outline</mat-icon>
      </button>
      <button
        mat-button
        [disabled]="selectedPolls.size < 2"
        (click)="groupPolls()"
      >
        Group Selected
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel class="poll-panel-header" *ngFor="let poll of polls" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-checkbox
            class="select-poll-checkbox"
            [checked]="isPollSelected(poll)"
            (click)="selectPoll($event, poll)"
          ></mat-checkbox>
          Poll: {{ poll.name }}
        </mat-panel-title>
        <mat-panel-description *ngIf="!poll.polls">
            Votes: {{ poll.votes.length }}
            <mat-icon *ngIf="poll.locked === false" (click)="setLock($event, poll.id, true)">lock_open</mat-icon>
            <mat-icon *ngIf="poll.locked === true" (click)="setLock($event, poll.id, false)">lock</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <app-poll-detail *ngIf="!poll.polls" [poll]="poll"></app-poll-detail>
      <span *ngIf="poll.polls" >
        <app-poll-detail *ngFor="let p of poll.polls" [poll]="p"></app-poll-detail>
      </span>

      <mat-action-row>
        <button
          mat-stroked-button
          color="warning"
          (click)="deletePoll(poll)"
        >
          Delete Poll
        </button>
        <button
          mat-stroked-button
          color="primary"
          (click)="tallyVote(poll)"
        >
          Tally Vote
        </button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>
