<h3>Options</h3>
<mat-list>
  <mat-list-item *ngFor="let option of poll.options">
    <div>
    {{ option }}
    </div>
  </mat-list-item>
</mat-list>

<h3># of Winners</h3>
<p>{{ poll.winners }}</p>

<h3>Votes:</h3>
<mat-list>
  <mat-list-item
  *ngFor="let vote of poll.votes"
  >
    <h5
      class="vote-id-title"
      matLine>
      {{ vote.id }}
    </h5>
    <p
      class="vote-string"
      matLine>
        {{ generateVoteString(vote) }}
    </p>
  </mat-list-item>
</mat-list>

<h3>Results:</h3>
<div *ngIf="poll.results === null">
  None
</div>
<div *ngIf="poll.results !== null">
  <pre>
    {{ poll.results | json }}
  </pre>
</div>
