<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{title}}</span>
      <nav>
        <a mat-button routerLink="/poll-list">List</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
