<div>
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-stroked-button
        (click)="refreshData()"
      >
        Refresh
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel class="poll-panel-header" *ngFor="let poll of polls" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
          {{ poll.name }}
          </div>
        </mat-panel-title>
        <mat-panel-description>
          Votes: {{ poll.votes.length }}
          <mat-icon *ngIf="poll.locked === false">lock_open</mat-icon>
          <mat-icon *ngIf="poll.locked === true">lock</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-poll-detail [poll]="poll"></app-poll-detail>
      <mat-action-row>
        <a
          mat-stroked-button
          color="primary"
          *ngIf="!poll.locked"
          [routerLink]="['/vote', poll.id]"
        >Vote</a>
        <button
          mat-stroked-button
          color="primary"
          [disabled]="true"
          *ngIf="poll.locked"
        >Vote</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
