<h1 mat-dialog-title>Add Poll</h1>
<mat-dialog-content>
  <form class="add-poll-form" [formGroup]="pollForm" (ngSubmit)="submitForm(pollForm)">
    <mat-form-field>
      <input mat-autosize type="text" matInput placeholder="Poll Name" formControlName="name">
    </mat-form-field>
    <div formArrayName="options">
      <h2 class="mat-h2">Options</h2>
      <mat-form-field *ngFor="let option of pollForm['controls'].options['controls']; let i = index" >
          <input matInput formControlName="{{i}}" placeholder="Option {{i+1}}">
      </mat-form-field>
      <button type="button" mat-icon-button (click)="addOption()">
        <mat-icon aria-label="add option">add_circle_outline</mat-icon>
      </button>
      <button [disabled]="pollForm['controls'].options['controls'].length < 2" type="button" mat-icon-button (click)="removeOption()">
        <mat-icon aria-label="remove option">remove</mat-icon>
      </button>
    </div>
    <mat-form-field>
      <input type="number" min="1" max="10" matInput placeholder="# of Winners" formControlName="winners">
    </mat-form-field>
    <button mat-button type="submit">Submit</button>
  </form>
</mat-dialog-content>
