<h1 mat-dialog-title>Group Polls</h1>
<mat-dialog-content>
  <form class="group-polls-form" [formGroup]="groupPollsForm" (ngSubmit)="submitForm(groupPollsForm)">
    <mat-form-field>
      <input mat-autosize type="text" matInput placeholder="Polls Group Name" formControlName="name">
    </mat-form-field>
    <button mat-button type="submit">Group</button>
  </form>
</mat-dialog-content>
